services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: imagine_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - media:/app/media
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    working_dir: /app/backend


  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: celery -A imagAine.celery worker -l info
    working_dir: /app/backend
    volumes:
      - .:/app
    env_file: .env
    environment:
      - HF_TOKEN=${HF_TOKEN}
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: imagine_db
    restart: always
    environment:
      POSTGRES_USER: imagine
      POSTGRES_PASSWORD: imagine
      POSTGRES_DB: imagine
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: imagine_redis
    restart: always
    ports:
      - "6379:6379"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8000/api
        VITE_APP_URL: http://localhost:5173
    container_name: imagine_frontend
    depends_on:
      - web
    ports:
      - "5173:80"

volumes:
  pgdata:
  media:
